<form #categoryForm="ngForm" class="form">
  <div class="form__field">
    <mat-form-field>
      <mat-label>Category ID</mat-label>
      <input matInput disabled [(ngModel)]="category.id" name="id" />
    </mat-form-field>
  </div>

  <div class="form__field">
    <mat-form-field>
      <mat-label>Category Name</mat-label>
      <input
        matInput
        required
        [(ngModel)]="category.categoryName"
        name="categoryName"
      />
    </mat-form-field>
  </div>

  <div class="form__field">
    <mat-form-field>
      <mat-label>Source Language</mat-label>
      <input
        matInput
        required
        disabled
        [(ngModel)]="category.sourceLanguage"
        name="sourceLanguage"
      />
    </mat-form-field>
  </div>

  <div class="form__field">
    <mat-form-field>
      <mat-label>Target Language</mat-label>
      <input
        matInput
        required
        disabled
        [(ngModel)]="category.targetLanguage"
        name="targetLanguage"
      />
    </mat-form-field>
  </div>

  <!-- <div class="form__field">
    <mat-form-field>
      <input
        matInput
        required
        name="words"
        [(ngModel)]="category.words"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of ['1', '2', '3']; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div> -->

  <div class="form__words">
    <div class="form__words-header">
      <mat-label>Words</mat-label>
      <button
        mat-fab
        color="primary"
        class="form__words-header-button"
        (click)="addWord()"
      >
        +
      </button>
    </div>
    @for (option of category.words; track option; let i = $index) {
    <div class="form__words-content">
      <mat-form-field>
        <mat-label>Source Word</mat-label>
        <input
          matInput
          required
          [(ngModel)]="option.sourceWord"
          name="sourceWord"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Target Word</mat-label>
        <input
          matInput
          required
          [(ngModel)]="option.targetWord"
          name="targetWord"
        />
      </mat-form-field>
    </div>
    }
  </div>

  <button
    mat-button
    mat-raised-button
    color="primary"
    (click)="saveCategory()"
    class="form__save-button"
  >
    save
  </button>
</form>
