.button {
  display: flex;
  justify-content: center;
  width: 120px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  &__field {
    width: 20rem;

    & > mat-form-field {
      width: 20rem;
    }
  }

  & &__save-button {
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
  }

  &__words {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
    gap: 2rem;

    & &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &-button {
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
      }

      &-delete-button {
        width: calc(56px - 9px * 2);
        height: calc(56px - 9px * 2);
        margin: 9px;
      }
    }

    & &-content {
      display: flex;
      justify-content: space-evenly;
      
    }
  }
  
  & .error-message {
    color: red;
    margin-block: 1rem;
  }
}
